/*Mes styles*/
body {
  background-color: lightsteelblue;
  font-family: Arial;
}
div.categorie {
  text-align: center;
  margin-bottom: -20px;
  margin-top: 20px;
}
p.categorie {
  display : inline-block;
  background-color: #222;
  color : white;
  padding: 10px 20px;
  margin: 0;
  font-weight: bold;
}
div.contenu {
  margin: 40px 8px 40px 8px;
  padding: 0 8px 20px 8px;
  background-color: white;
  box-shadow: 0 0 20px 5px black;
}
h1 {
  text-align: center;
  margin: 0 0 8px 0;
}
div.separateur {
  height: 1px;
  background-color: black;
  width: 200px;
  margin: auto;
}
div.description {
  text-align: center;
}
p.description {
  text-align: center;
  max-width: 400px;
  display: inline-block;
  font-size: medium;
}
div.image {
  position: relative;
}
img.image {
  width: 100%;
  display:block; /* pour enlever le petit décalage en bas */
  max-height: 400px;
  /*Pour permettre de ne pas déformer l'image lors du changement de taille de la fenêtre.*/
  object-fit: cover;
  /*Pour réserver un emplacement à l'image lors du téléchargement.*/
  min-height: 200px;
  background-color: #999999;
}
table.image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height : 50px;
  background-color: steelblue;
  opacity: 55%;
  padding: 4px;
  color: white;
}
table.image th{
  font-size: 14px;
}
table.image td {
  text-align: center;
  font-size: 12px;
}
div.colonne {
  width: 100%;
}
div.colonne h2 {
  text-align: center;
  border-bottom: thick solid steelblue;
  text-transform: uppercase;
  font-size: larger;
  padding-bottom: 5px;
}
div.colonne1 p {
  border: 1px solid lightgray;
  text-align: center;
  margin: 4px 0;
  padding: 8px 0;
  font-size: 14px;
}
table.preparation tr{
  /*Dans une table le 'height' est interprété comme 'min-height*/
  height: 55px;
}
table.preparation td {
  vertical-align: top;
}
table.preparation td.etape {
  font-size: 14px;
  padding-left: 10px;
}
table.preparation p.numeros {
  background-color: steelblue;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: center;
  padding: 3px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0;
}

/*Styles pour ordinateur*/
@media only screen and (min-width: 768px) {
  div.contenu {
    min-width: 350px;
    margin: 0 10% 60px 10%;
    padding: 15px 50px;
    height: auto;
  }
  table.image th{
  font-size: medium;
  }
  table.image td {
    text-align: center;
    font-size: smaller;
  }
  table.image {
    height: 80px;
  }
  div.colonne {
  width: 45%;
  }
  div.colonne1 {
  display:inline-block;
  }
  div.colonne2 {
  float:right;
  overflow: auto;
  }
}

/*Pour grands écrans*/
@media only screen and (min-width: 900px) {
  div.contenu {
    max-width: 645px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}
